body {
    font-family: Verdana;
    background:#E8E8E8; 
    font-family:Tahoma, Geneva, sans-serif;
    font-size:14px;
    color:#828282;
  }
  
.header {
    padding: 80px; 
    text-align: center; 
    background: #fcd12a; 
    color: white;
  }
  
.header h1 {
    font-size: 40px;
  }
.header p {
    font-size: 30px;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.navbar {
    overflow: hidden; /* ซ่อนไปไว้ข้างหลังตัวอักษร */
    background-color: #9f7a39; 
  }
  
.navbar a {
    float: right; 
    display: block;/*เมื่อชี้ไปที่ปุ่มจะแสดงการตอบสนอง*/
    color: white; /*สีตัวอักษร*/
    text-align: center; 
    padding: 14px 20px;
    text-decoration: none; /*ลบขีดเส้นใต้*/
  }
  
  /* เปลี่ยนสีเมื่อวางเมาส์เหนือ/วางเมาส์เหนือ */
.navbar a:hover {
    background-color: #d4af37;
    color: rgb(0, 0, 0); /*สีตัวอักษรเปลี่ยนเมื่อชี้เมาส์ที่ปุ่ม*/
  }


  /* กำหนดdropdown ให้ซ่อน และกำหนดขนาดกล่อง*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* กำหนดในdropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


  /* ขนาดกล่อง */
* {
  box-sizing: border-box;
}

/* คอลัมน์ทางซ้าย */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* สร้าง2คอลัมน์ */
/* คอลัมน์ทางซ้าย */
.left_side {
  flex: 70%; /* กำหนดด้านกว้างของคอลัมน์ */
  background-color: #f1f1f1; 
  padding: 20px; /*ห่างจากขอบด้านซ้าน 20px*/
}

.footer {
  padding: 20px; 
  text-align: center; /* Center text*/
  background: rgba(78, 171, 224, 0.911); 
}

html {
  box-sizing: border-box;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* เงา */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
